In [2]:
#此dataset為鐵達尼號生還者之資訊，用'Sex','Pclass','Age' 三個變數預測'Survived'(存活率)
import pandas as pd
import numpy as np
from sklearn import preprocessing, linear_model

#讀取資料
titanic_train = pd.read_csv('kaggle_titanic_train.csv')
df=titanic_train[['Sex','Pclass','Age','Survived']]  #用'Sex','Pclass','Age' 三個變數預測'Survived'(存活率)

In [3]:
# 創造 dummy variables   將SEX轉換成 0，1
pd.options.mode.chained_assignment = None
df.loc[df["Sex"] == "male", "Sex"] = 0
df.loc[df["Sex"] == "female", "Sex"] = 1

#Age無資料以median填補
df['Age'] = df['Age'].fillna(df['Age'].median())
df.head()

   Sex  Pclass   Age  Survived
0    0       3  22.0         0
1    1       1  38.0         1
2    1       3  26.0         1
3    1       1  35.0         1
4    0       3  35.0         0

In [4]:
#切分訓練 測試資料
from sklearn.model_selection import train_test_split

x=df[['Sex','Pclass','Age']]
y=df[['Survived']]

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=20170816) #random_state 種子值

x_train.head()

     Sex  Pclass   Age
79     1       3  30.0
838    0       3  32.0
728    0       2  25.0
116    0       3  70.5
413    0       2  28.0

In [5]:
#標準化 :為了避免偏向某個變數去做訓練
from sklearn.preprocessing  import StandardScaler
sc=StandardScaler()

sc.fit(x_train)

x_train_nor=sc.transform(x_train)
x_test_nor=sc.transform(x_test)

In [6]:
#訓練資料分類效果(3個參數)
from sklearn.linear_model  import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train_nor,y_train)

# 印出係數
print(lr.coef_)
# 印出截距
print(lr.intercept_ )

[[ 1.19993232 -1.00378385 -0.34528713]]
[-0.79707547]

/home/tdtd/.local/lib/python3.5/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [7]:
# 計算準確率
survived_predictions = lr.predict(x_test_nor)
#印出以testing data預測之結果
print(survived_predictions)
accuracy = lr.score(x_test_nor, y_test)
#印出準確率
print(accuracy)

[0 0 1 0 1 1 0 1 0 0 1 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0 1 0
 0 1 0 1 1 1 0 0 1 1 0 1 0 1 1 0 0 1 0 0 1 0 0 1 0 1 1 0 0 0 0 1 1 1 0 0 1
 0 0 1 1 0 1 0 0 0 0 0 0 1 0 0 0 0 0 1 1 1 0 0 0 1 1 0 0 1 0 1 0 0 1 0 0 0
 0 0 0 0 0 1 1 0 1 0 0 1 1 1 0 1 1 0 0 1 0 0 0 0 1 1 0 0 1 0 1 0 1 0 0 0 0
 0 0 1 0 1 1 1 0 0 1 0 0 1 1 0 1 1 1 1 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 1 1
 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 1 1 0 0 1 0 1 1 1 1 0 1 0 0 0 0 0 1 1 0 0 0
 0 0 1 0 0 0 0 1 1 1 0 1 0 0 1 1 0 1 1 0 0 1 1 0 0 0 0 0 0 1 0 1 0 0 0 1 0
 0 0 0 1 1 0 0 1 0]
0.80223880597